<div id="carousel-main-page" class="carousel slide page-block clearfix" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-inner__item item active">
      <!-- <img class="carousel-inner__img" src="img/slides/slide-1.png"> -->
      <div class="carousel-inner__caption carousel-caption">
        <h1 class="carousel-inner__caption-heading">Example headline.</h1>
        <p class="carousel-inner__caption-text">Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
      </div>
    </div><!-- /.item .active -->
    <div class="carousel-inner__item item">
      <!-- <img class="carousel-inner__img" src="img/slides/slide-1.png"> -->
      <div class="carousel-inner__caption carousel-caption">
        <h1 class="carousel-inner__caption-heading">Another example headline.</h1>
        <p class="carousel-inner__caption-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div><!-- /.item -->
    <div class="carousel-inner__item item">
      <!-- <img class="carousel-inner__img" src="img/slides/slide-1.png"> -->
      <div class="carousel-inner__caption carousel-caption">
        <h1 class="carousel-inner__caption-heading">One more for good measure.</h1>
        <p class="carousel-inner__caption-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div><!-- /.item -->
    <div class="carousel-inner__item item">
      <!-- <img class="carousel-inner__img" src="img/slides/slide-1.png"> -->
      <div class="carousel-inner__caption carousel-caption">
        <h1 class="carousel-inner__caption-heading">One more for good measure.</h1>
        <p class="carousel-inner__caption-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div><!-- /.item -->
  </div><!-- /.carousel-inner -->

  <div class="carousel-indicators clearfix">
    <div class="carousel-indicators__item active" data-target="#carousel-main-page" data-slide-to="0">
      <div class="carousel-indicators__number">1</div>
      <h2 class="carousel-indicators__heading">Lorem Ipsum Dolop</h2>
    </div>
    <div class="carousel-indicators__item" data-target="#carousel-main-page" data-slide-to="1">
      <div class="carousel-indicators__number">2</div>
      <h2 class="carousel-indicators__heading">Ultricies Pellentesque</h2>
    </div>
    <div class="carousel-indicators__item" data-target="#carousel-main-page" data-slide-to="2">
      <div class="carousel-indicators__number">3</div>
      <h2 class="carousel-indicators__heading">Aliquam ipsum</h2>
    </div>
    <div class="carousel-indicators__item" data-target="#carousel-main-page" data-slide-to="3">
      <div class="carousel-indicators__number">4</div>
      <h2 class="carousel-indicators__heading">Nullam sed mauris ut</h2>
    </div>
  </div>
</div><!-- /.carousel -->