<footer class="footer">
  <div class="wrapper">
    <div class="twitter footer__col">
      <h4 class="twitter__header footer-header">Twitter Feed</h4>
      <hr class="twitter__line footer-line">
      <time class="twitter__time footer-time">23 oct</time>
      <p class="twitter__text footer-text">In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean aug</p>
    </div><!-- .twitter -->

    <div class="sitemap footer__col footer__col--small">
      <h4 class="sitemap__header footer-header">Sitemap</h4>
      <hr class="sitemap__line footer-line">
      <div class="sitemap__content footer-text">
        <ul class="sitemap__list col-xs-6">
          <li class="sitemap__item"><a href="" class="sitemap__link">Home</a></li>
          <li class="sitemap__item"><a href="" class="sitemap__link">About Us</a></li>
          <li class="sitemap__item"><a href="" class="sitemap__link">Services</a></li>
        </ul>
        <ul class="sitemap__list col-xs-6">
          <li class="sitemap__item"><a href="" class="sitemap__link">Partners</a></li>
          <li class="sitemap__item"><a href="" class="sitemap__link">Contacts</a></li>
          <li class="sitemap__item"><a href="" class="sitemap__link">Support</a></li>
        </ul>
      </div><!-- .sitemap__content -->
    </div><!-- .sitemap -->

    <div class="social footer__col footer__col--small">
      <h4 class="social__header footer-header">Social Networks</h4>
      <hr class="social__line footer-line">
      <div class="social__content">
        <div class="social__icon social__icon_facebook">
        </div><!-- .social__icon -->
        <div class="social__icon social__icon_twitter">
        </div><!-- .social__icon -->
        <div class="social__icon social__icon_google-plus">
        </div><!-- .social__icon --><br>

        <div class="social__icon social__icon--small social__icon_vimeo">
        </div><!-- .social__icon social__icon--small -->
        <div class="social__icon social__icon--small social__icon_youtube">
        </div><!-- .social__icon social__icon--small -->
        <div class="social__icon social__icon--small social__icon_flickr">
        </div><!-- .social__icon social__icon--small -->
        <div class="social__icon social__icon--small social__icon_instagram">
        </div><!-- .social__icon social__icon--small -->
        <div class="social__icon social__icon--small social__icon_rss">
        </div><!-- .social__icon  social__icon--small -->
      </div><!-- .social__content -->
    </div><!-- .social -->

    <div class="info footer__col">
      <div class="info__logo logo logo_inactive">
        <a class="logo__link" href="#"></a>
      </div><!-- .header-top__logo .logo -->
      <p class="info__copyright">Copyright © 2012 Whitesquare. A pcklab creation</p>
    </div><!-- .info -->
  <!-- .wrapper -->
</footer>
