<header class="header">
  <div class="header-top page-block">

    <div class="header-top__logo logo">
      <a class="logo__link" href="#"></a>
    </div><!-- .header-top__logo .logo -->

    <form class="header-top__search-form search-form">
      <div class="input-group">
        <input type="text" class="search-form__input form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="button search-form__btn btn btn-primary" type="submit">Go</button>
        </div>
      </div>
    </form><!-- .header-top__search-form -->

  </div><!-- .header__top -->

  <div class="header-bottom page-block">

    {{> nav-main }}

  </div><!-- .header-bottom -->
</header><!-- .header -->