<!DOCTYPE html>
<html lang="ru">
<head>

  <title>Corporate Blue (BEM)</title>

  {{> meta }}
  {{> link-style }}

</head>


<body>
  <div class="wrapper">

    {{> header }}
    {{> carousel }}

    <main>
      <div class="page-block">

        <section class="section col-sm-6">
          <h4 class="section__title">About WhiteSquare</h4>

          <img src="assets/img/placehold.png" alt="" class="section__img col-xs-4">

          <p class="section__text">In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac ultrices. </p>
          <p class="section__author"></p>
          <a href="" class="section__read-more">Read more</a>
        </section>

        <section class="section col-sm-6">
          <h4 class="section__title">A word from our CEO</h4>
          <img src="assets/img/placehold.png" alt="" class="section__img col-xs-4">
          <p class="section__text">In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac ultrices. </p>
          <p class="section__author"></p>
          <a href="" class="section__read-more">Read more</a>
        </section>

      </div><!-- .page-block -->

      <div class="page-block">

        <section class="section col-sm-4">
          <h4 class="section__title">Services</h4>
          <p class="section__text">In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac ultrices.</p>
          <p class="section__author"></p>
          <a href="" class="section__read-more">Read more</a>
        </section>

        <section class="section col-sm-4">
          <h4 class="section__title">Our teams</h4>

          <div class="section__segment">
            <img src="assets/img/placehold.png" alt="" class="section__img col-xs-2">
            <h5 class="section__text-heading"><small>Lorem Ipsum</small></h5>
            <p class="section__text"><small>In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et</small></p>
          </div>

          <div class="section__segment">
            <img src="assets/img/placehold.png" alt="" class="section__img col-xs-2">
            <h5 class="section__text-heading"><small>Lorem Ipsum</small></h5>
            <p class="section__text"><small>In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et</small></p>
          </div>

          <div class="section__segment">
            <img src="assets/img/placehold.png" alt="" class="section__img col-xs-2">
            <h5 class="section__text-heading"><small>Lorem Ipsum</small></h5>
            <p class="section__text"><small>In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et</small></p>
          </div>

          <p class="section__author"></p>
          <a href="" class="section__read-more">Read more</a>
        </section>

        <section class="section col-sm-4">
          <h4 class="section__title">27/7/365 support</h4>
          <p class="section__text">In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac ultrices. </p>
          <p class="section__author"></p>
          <a href="" class="section__read-more">Read more</a>
        </section>

      </div><!-- .page-block -->

      <div class="page-block">

        <section class="section col-sm-6">
          <h4 class="section__title">Lorem ipsum.</h4>
          <p class="section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quaerat maxime, minus perferendis eaque aliquam non, ad accusamus cupiditate nesciunt nostrum quasi a facilis enim id nam laudantium iusto dolor reiciendis voluptas et. Libero repellendus blanditiis, iure provident, adipisci amet dignissimos accusantium natus atque dolor itaque iste perferendis perspiciatis odit cumque omnis est eveniet tempora nesciunt modi. Hic, magni, nisi. Mollitia dolorum, enim sint corporis eaque ipsam eius laudantium voluptas earum beatae ducimus excepturi tempora cupiditate, dicta cumque velit odit ex in nesciunt veritatis ipsum a. Architecto, similique aliquid laudantium, accusantium nobis porro minus sint a excepturi, voluptates quidem.</p>
          <p class="section__author">John Doe</p>
        </section>

        <section class="section col-sm-6">
          <h4 class="section__title">A word from our CEO</h4>
          <img src="assets/img/placehold.png" alt="" class="section__img col-xs-4">
          <p class="section__text">In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac ultrices. </p>
          <p class="section__author"></p>
          <a href="" class="section__read-more">Read more</a>
        </section>

        <section class="section col-sm-6">
          <h4 class="section__title">A word from our CEO</h4>
          <img src="assets/img/placehold.png" alt="" class="section__img col-xs-4">
          <p class="section__text">In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac ultrices. </p>
          <p class="section__author"></p>
          <a href="" class="section__read-more">Read more</a>
        </section>

        <section class="section col-sm-6">
          <h4 class="section__title">A word from our CEO</h4>
          <img src="assets/img/placehold.png" alt="" class="section__img col-xs-4">
          <p class="section__text">In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac ultrices. </p>
          <p class="section__author"></p>
          <a href="" class="section__read-more">Read more</a>
        </section>

        <section class="section col-sm-6">
          <h4 class="section__title">A word from our CEO</h4>
          <img src="assets/img/placehold.png" alt="" class="section__img col-xs-4">
          <p class="section__text">In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean augue arcu, convallis ac vulputate vitae, mollis non lectus. Donec hendrerit lacus ac massa ornare hendrerit sagittis lacus tempor. Vivamus et dui et neque accumsan varius et ut erat. Enean augue arcu, convallis ac ultrices. </p>
          <p class="section__author"></p>
          <a href="" class="section__read-more">Read more</a>
        </section>

      </div><!-- .page-block -->
    </main>

  </div><!-- .wrapper -->

    {{> footer }}

</body>

  {{> link-script }}

</html>
